name: DotMH Standard Tyescript Actions
run-name: '${{ github.actor }} - ${{ github.workflow }} - ${{ github.run_number }}'
on: [push]

jobs:
  TestAndLint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: '10'
      - name: Node
        uses: actions/setup-node@v4
        with:
          node-version: '22.15.1'
          cache: 'pnpm'
      - run: pnpm install
      - name: Lint
        run: pnpm lint
      - name: Test
        run: pnpm test
